*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

DerivedData/
build/

*.ipa
*.dSYM
*.xcarchive

xcshareddata/

timeline.xctimeline
playground.xcworkspace

*.env
*.local
